
@{
    ViewBag.Title = "Choix_emp_clt";
}



<div class="tg-main-section tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2">
                <div class="tg-sectiontitle">
                    <h2>Inscrivez-vous comme !</h2>
                </div>
            </div>
            <div class="tg-contactusarea">
                <div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-10 col-lg-push-1">

                    <div class="col-sm-12 col-xs-12">

                        <div class="tg-form-center-choix">

                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <a href="RegisterClient">
                                        <div class="tg-topcategories">
                                            <div class="tg-category">
                                                <figure>
                                                    <img src="~/Photos/client.png" alt="Chercheur de service">
                                                       
                                                   
                                                    <figcaption class="tg-automotive">

                                                        <span class="tg-categoryname">CLIENT</span>
                                                        
                                                    </figcaption>
                                                </figure>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                  <a href="RegisterEmployeur">
                                    <div class="tg-topcategories">
                                        <div class="tg-category">
                                            <figure>
                                                <img src="~/Photos/employeur.png" alt="image description">
                                                <figcaption class="tg-automotive">

                                                    <span class="tg-categoryname">EMPLOYEUR</span>
                                                    
                                                </figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                  </a>
                                </div>
                        </div>
                        <div class="tg-form-center-choix">
                            <div class="tg-btnforgotpass">
                                <h4>
                                    <a> @Html.ActionLink(" J’ai déjà un compte !", "Connecter", "Accueils") </a>
                                </h4>
                            </div>
                        </div>
                    </div>


                    </div>
            </div>
        </div>
    </div>
</div>





