@model ApplicationServicePersonne.Models.Type_note

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Type_note</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_TN }) |
    @Html.ActionLink("Back to List", "Index")
</p>
